:root {


  /* Default The Hmm colors */

  --black          : hsl(   0,   0%,   0% );
  --white          : hsl(   0,   0%, 100% );
  --blue           : hsl( 240, 100%,  50% );
  --yellow         : hsl( 60, 100%,  50% );
  --orange-red     : hsl( 352, 100%,  69% );
  --light-grey     : hsl(   0,   0%,  88% );
  --mid-grey       : hsl(   0,   0%,  39% );
  --dark-grey      : hsl(   0,   0%,  20% );


  /* The default accent color used in the entire website */
  /* This value is overidden in the Event page. */

  --accent         : var(--blue);
  --error          : var(--orange-red);

  /* grid unit */

  --unit         : 1vw; 
  
  
  /* Borders and outlines */

  --solid        : 1px solid;
  --dash         : 1px dashed;
  --thin         : .25px solid;
  --very-thin    : .25px solid var(--blue);
  --focus        : 1px solid var(--accent);


  /* Shadow parameters for box-shadows and drop-shadows */

  --shadow-color   : hsla(0, 0%, 0%, 0.288);
  --shadow-size    : 3rem;
  --shadow         : 0 0 var(--shadow-size) 0rem var(--shadow-color);  

  /* Transition and animation speeds */

  --very-fast      : 0.125s;
  --fast           : 0.25s;
  --slow           : 0.5s;
  --very-slow      : 1s;

  
}

*,
*::before,
*::after {
  box-sizing       : border-box;
  position: relative;
}

*:focus {
  outline          : var(--focus);
}

a,
a:active,
a:visited {
  color            : var(--blue);
}
a:focus {
  text-decoration: none;
}

html,
body {

  padding          : 0;
  margin           : 0;
  height           : 100%;
  width            : 100%;
  scroll-behavior  : smooth;

}

header,
footer,
main {
  padding: var(--unit);
}

h1 {
  height: calc( 5 * var(--unit));
  margin: 0;
}

main {
  min-height: 80%;
}

main section {
  max-width  : min(70%, 40rem);
}
main section.text,
main section figure {
  border: var(--thin);
  background-color: var(--white);
  padding-inline: var(--unit);
  padding-block: var(--unit);
  margin-block: var(--unit);
}
main section.text:focus-within,
main section figure:focus-within {
  outline: var(--focus);
}

main section.text {
  padding-block: 0;
}

main section figure {
  margin-inline: calc( 5 * var(--unit) );
}
main section figure img {
  max-width: 100%;
}

main section figure audio,
main section figure video {
  width: 100%;
}

main section figure figcaption {
  font-style: italic;
  text-align: center;
}



#grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* display: flex; */
  /* flex-wrap: wrap; */
  border-collapse: collapse;
}
#grid td {
  height : calc( 10 * var(--unit));
  min-width  : calc( 10 * var(--unit));
  border : var(--very-thin);
}
