<footer>
  <!-- <nav>
    <ul>
      <% for ( const { name, path } of routes ) { %> 
        <li> 
          <a
            title="<%= name %>"
            href="<%= path %>"
          >
            <%= name %> 
          </a>
        </li>
      <% } %> 
    </ul>
  </nav> -->
</footer>
