<header>
  <a
    title="Skip to main content"
    class="skip-to-main" 
    href="#main-content"
  >
    Skip to main content
  </a>
  <nav>
    <ul>
      <% for ( const { name, path } of routes ) { %> 
        <li
        > 
          <a
            title="<%= name %>"
            href="<%= path %>"
          >
            <%= name %> 
          </a>
        </li>
      <% } %> 
    </ul>
  </nav>
</header>
