<section>
  <h5>History</h5>
  <table>
    <tbody>
      <% for ( const sibling of siblings ) { %> 
        <tr>
          <td>
            → 
          </td>
          <td>
            <a
              title="<%= sibling %>"
              href="<%= `/${ slug }/${ sibling }` %>"
            >
              <%= sibling %>
            </a> 
          </td>
        </tr>
      <% } %> 
    </tbody>
  </table>
</section>
