<% const { type } = section %>  

<section  class="<%= type %>">

  <% if ( type == 'gallery' ) { %>
    <pre><%= JSON.stringify( section, null, 2 ) %></pre>
  <% } else { %>
      <%- include( `media/${ type }`, section ) -%>
  <% } %>

</section>
